.login__title {
    font-family: 'Inter';
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 50px;
}